# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of popular languages that Data Scientists use are: 
1. R
2. Phyton
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Scikit-learn

|Data Science Tools|
|:----------------:|
| Jupyter Notebooks|
|      Hadoop      |
|      Phyton      |

### Below are a few examples of evaluating arithmetic expression in Phyton

In [5]:
(3*4)+5
# This is a simple arithmetic expression to multiply then add integers

17

In [ ]:
hora = 200/60